body{
	margin:0 auto;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	max-width: 1920px;
}

*, :before, :after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

.navTop{
	background: #000;
}

.nav{

	height: 70px;
	width: 1200px;
	margin: 0 auto;
}

.nav > .navBar{
	display: block;
	width:14%;
	line-height:70px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	float: left;
	font-weight: 300;
}

.nav > .navBar:hover{
	cursor: pointer;
	background-color: #8a6e3e;
}

.nav > .navBar:first-child{
	margin-left: 1%;
}

.nav > .navBar:last-child{
	margin-right: 1%;
}

.navBar > .navTitle{
	line-height: 70px;
	text-align: center;
}

.navBar > .navDetail{
	line-height: 70px;
	font-size: 16px;
	display: none;
}

.navDetail > a{
	text-decoration: none;
	color: #fff;
	display: block;;
}

.navHover{
	background: #b3925b;
}

.menu{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	font-size: 0;
}

.menu > .menuLogo{
	height: 40px;
	margin-left: 20px;
}

.menuBtn{
	display: block;
	position: relative;
	z-index: 2;
	width: 40px;
	height: 40px;
	margin-right: 40px;
	line-height: 0;
	cursor: pointer;
	border: none;
	background: none;
	outline:none;
}

.menuBtn span, .menuBtn span:before, .menuBtn span:after {
	background: #fff;
}

.menuBtn span {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	transition: background 0s 0.15s;
}

.menuBtn span:before {
	transition-property: top, transform;
}
.menuBtn span:before {
	top: -12px;
}

.menuBtn span:after {
	transition-property: bottom, transform;
}

.menuBtn span:after {
	bottom: -12px;
}

.menuBtn span:before, .menuBtn span:after {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	content: '';
	transition-delay: 0.15s, 0s;
	transition-duration: 0.15s, 0.15s;
}

.menuBtn.isActive span {
	background: none;
}

.menuBtn.isActive span:before, .menuBtn.isActive span:after {
	transition-delay: 0s, 0.15s;
}

.menuBtn.isActive span:before {
	top: 0;
	transform: rotate(45deg);
}

.menuBtn.isActive span:after {
	bottom: 0;
	transform: rotate(-45deg);
}

.menuList{
	display:none;
	position:fixed;
	width:100%;
	height:calc(100% - 60px);
	left:0;
	top:60px;
	background: rgba(47,49,50,0.92);
	z-index:12;
}

.menuList .menuBar{
	display:block;
	width:100%;
	height:60px;
	line-height:60px;
	font-size:30px;
	text-align:center;
	color:#fff;
	font-weight:400;
	text-decoration:none;
	cursor:pointer;
}

.menuList .menuBar:hover,.menuList .menuBar:active,.menuList .menuLink:hover,.menuList .menuLink:active{
	color:#8a6e3e;
}

.menuList .menuLink{
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	color:#fff;
	text-decoration: none;
	font-weight:400;
	display: block;
	text-align: center;
}

.show{
	display:block;
}

.show2{
	display:block !important;
	width: 168px;
	background: #8a6e3e;
	position: absolute;
}

.banner{
	height: 561px;
}

.banner .bannerIMG{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.pageName{
	height: 70px;
	margin-top: -70px;
	position: relative;
	z-index: 2;
	background: rgba(14, 16, 21,0.51);
	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 70px;
}

.footer{
	height: 500px;
	background: url("../img/Footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

.footer > .footerLogo{
	display: block;
	margin:50px auto;
	height: 200px;
}

.footer > .year{
	display: block;
	margin: 0 auto;
	margin-top: 160px;
	height: 17px;
}

@media (max-width: 1600px){
	.banner{
		height: 550px;
	}

}

@media (max-width: 1500px)
{
	.banner{
		height: 500px;
	}

}

@media (max-width: 1200px)
{
	.navTop{
		display: none;
	}

	.menu{
		display: flex;
		align-items:center;
		width: 100%;
		height: 60px;
		background: #000;
	}
}

@media (max-width: 1024px){
	.banner{
		height: 350px;
	}

	.footer{
		height: 400px;
		background: url("../img/Footer.jpg") no-repeat center;
		background-size: cover;
	}

	.footer > .footerLogo{
		display: block;
		margin:40px auto;
		height: 150px;
	}

	.footer > .year{
		display: block;
		margin: 0 auto;
		margin-top: 120px;
		height: 16px;
	}

}

@media (max-width: 640px){
	.banner{
		height: 300px;
	}

	.menu >	.menuBtn{
		margin-right: 20px;
	}

	.pageName{
		height: 60px;
		margin-top: -60px;
		position: relative;
		z-index: 2;
		background: rgba(14, 16, 21,0.51);
		text-align: center;
		color: #fff;
		font-size: 25px;
		line-height: 60px;
	}

	.footer{
		height: 300px;
		background: url("../img/Footer.jpg") no-repeat center;
		background-size: cover;
		text-align: center;
	}

	.footer > .footerLogo{
		display: block;
		margin:20px auto;
		height: 120px;
	}

	.footer > .year{
		display: block;
		margin: 0 auto;
		margin-top: 90px;
		height: 15px;
	}
}

@media (max-width: 480px){
	.pageName{
		height: 50px;
		margin-top: -50px;
		position: relative;
		z-index: 2;
		background: rgba(14, 16, 21,0.51);
		text-align: center;
		color: #fff;
		font-size: 22px;
		line-height: 50px;
	}
}

@media (max-width: 400px){
	.banner{
		height: 270px;
	}

	.menu >	.menuBtn{
		margin-right: 20px;
	}

	.pageName{
		height: 50px;
		margin-top: -50px;
		position: relative;
		z-index: 2;
		background: rgba(14, 16, 21,0.51);
		text-align: center;
		color: #fff;
		font-size: 20px;
		line-height: 50px;
	}

	.footer{
		height: 270px;
		background: url("../img/Footer.jpg") no-repeat center;
		background-size: cover;
		text-align: center;
	}

	.footer > .footerLogo{
		display: block;
		margin:30px auto;
		height: 100px;
	}

	.footer > .year{
		display: block;
		margin: 0 auto;
		margin-top: 70px;
		height: 15px;
	}
}

@media (max-width: 350px){
	.pageName{
		height: 45px;
		margin-top: -45px;
		position: relative;
		z-index: 2;
		background: rgba(14, 16, 21,0.51);
		text-align: center;
		color: #fff;
		font-size: 17px;
		line-height: 45px;
	}
}