body{
	margin:0 auto;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	max-width: 1920px;
}

input, select, textarea, button {
	font-family: inherit;
	transition: all 0.2s;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

*, :before, :after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

.banner{
	height: 650px;
}

.banner .bannerIMG{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.logo{
	display: block;
	position: absolute;
	z-index: 2;
	width:130px;
	left: 50%;
	margin-left: -65px;
	margin-top:30px;
}

.navTop{
	height: 70px;
	background: none;
	width: 100%;
	position: absolute;
	margin-top: -70px;
	z-index: 2
}

.nav{
	height: 70px;
	width: 1200px;
	margin:0 auto;
}

.nav > .navBar{
	display: block;
	width:14%;
	line-height:70px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	float: left;
	font-weight: 300;
}

.nav > .navBar:hover{
	cursor: pointer;
	background-color: #8a6e3e;
}

.nav > .navBar:first-child{
	margin-left: 1%;
}

.nav > .navBar:last-child{
	margin-right: 1%;
}

.navBar > .navTitle{
	line-height: 70px;
	text-align: center;
}

.navBar > .navDetail{
	line-height: 70px;
	font-size: 16px;
	display: none;
}

.navDetail > a{
	text-decoration: none;
	color: #fff;
	display: block;;
}

.fixed{
	margin-top: 0px;
	position: fixed;
	top: 0;
}

.navHover{
	background: #b3925b;
}

.menu{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	z-index: 25;
	top: 0;
	width: 100%;
	align-items:center;
	height: 60px;
	background: rgba(0,0,0,0.5);
}

.black{
	background: rgba(0,0,0);
}

.menu > .menuLogo{
	height: 40px;
	margin-left: 20px;
}

.menuBtn{
	display: block;
	position: relative;
	z-index: 2;
	width: 30px;
	height: 30px;
	margin-right: 40px;
	line-height: 0;
	cursor: pointer;
	border: none;
	background: none;
	outline:none;
}

.menuBtn span, .menuBtn span:before, .menuBtn span:after {
	background: #fff;
}

.menuBtn span {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	transition: background 0s 0.15s;
}

.menuBtn span:before {
	transition-property: top, transform;
}
.menuBtn span:before {
	top: -10px;
}

.menuBtn span:after {
	transition-property: bottom, transform;
}

.menuBtn span:after {
	bottom: -10px;
}

.menuBtn span:before, .menuBtn span:after {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	content: '';
	transition-delay: 0.15s, 0s;
	transition-duration: 0.15s, 0.15s;
}

.menuBtn.isActive span {
	background: none;
}

.menuBtn.isActive span:before, .menuBtn.isActive span:after {
	transition-delay: 0s, 0.15s;
}

.menuBtn.isActive span:before {
	top: 0;
	transform: rotate(45deg);
}

.menuBtn.isActive span:after {
	bottom: 0;
	transform: rotate(-45deg);
}

.menuList{
	display:none;
	position:fixed;
	width:100%;
	height:calc(100% - 60px);
	left:0;
	top:60px;
	background: rgba(47,49,50,0.92);
	z-index:12;
}

.menuList .menuBar{
	display:block;
	width:100%;
	height:60px;
	line-height:60px;
	font-size:30px;
	text-align:center;
	color:#fff;
	font-weight:400;
	text-decoration:none;
	cursor:pointer;
}

.menuList .menuBar:hover,.menuList .menuBar:active,.menuList .menuLink:hover,.menuList .menuLink:active{
	color:#8a6e3e;
}

.menuList .menuLink{
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 17px;
	color:#fff;
	text-decoration: none;
	font-weight:400;
	display: block;
	text-align: center;
}

.show{
	display:block;
}

.footer{
	height: 500px;
	background: url("../img/Footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

.footer > .footerLogo{
	display: block;
	margin:50px auto;
	height: 200px;
}

.footer > .year{
	display: block;
	margin: 0 auto;
	margin-top: 160px;
	height: 17px;
}

.swiper-button-prev{
	top: 370px;
	outline: none;;
}

.swiper-button-next{
	top: 370px;
	outline: none;;
}

.my-bullet{
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: none;
	border:1px solid #fff;
	margin:0 4px;
}

.my-bullet-active{
	background: #fff;
	border: none;
	opacity: 1;
}

.swiper-pagination{
	bottom: auto !important;
	margin-top: -90px !important;
}

@media (max-width: 1700px){
	.banner{
		height: 600px;
	}

	.swiper-button-prev{
		top: 320px;
	}

	.swiper-button-next{
		top: 320px;
	}
}

@media (max-width: 1600px){
	.banner{
		height: 550px;
	}

	.swiper-button-prev{
		top: 270px;
	}

	.swiper-button-next{
		top: 270px;
	}
}

@media (max-width: 1500px)
{
	.banner{
		height: 500px;
	}

	.swiper-button-prev{
		top: 240px;
	}

	.swiper-button-next{
		top: 240px;
	}
}

@media (max-width: 1200px){
	.logo{
		display: none;
	}

	.menu{
		display: flex;
	}

	.navTop{
		display: none;;
	}
}

@media (max-width: 1024px){
	.banner{
		height: 350px;
	}

	.swiper-button-prev{
		top: 190px;
	}

	.swiper-button-next{
		top: 190px;
	}

	.swiper-pagination{
		bottom: auto !important;
		margin-top: -30px !important;
	}

	.footer{
		height: 400px;
		background: url("../img/Footer.jpg") no-repeat center;
		background-size: cover;
	}

	.footer > .footerLogo{
		display: block;
		margin:40px auto;
		height: 150px;
	}

	.footer > .year{
		display: block;
		margin: 0 auto;
		margin-top: 120px;
		height: 16px;
	}

}

@media (max-width: 640px){
	.banner{
		height: 300px;
	}

	.swiper-button-prev{
		top: 150px;
	}

	.swiper-button-next{
		top: 150px;
	}

	.menu >	.menuBtn{
		margin-right: 20px;
	}

	.footer{
		height: 300px;
		background: url("../img/Footer.jpg") no-repeat center;
		background-size: cover;
		text-align: center;
	}

	.footer > .footerLogo{
		display: block;
		margin:20px auto;
		height: 120px;
	}

	.footer > .year{
		display: block;
		margin: 0 auto;
		margin-top: 90px;
		height: 15px;
	}
}


@media (max-width: 400px){
	.banner{
		height: 270px;
	}

	.swiper-button-prev{
		top: 150px;
	}

	.swiper-button-next{
		top: 150px;
	}

	.nav{
		display: none;;
	}

	.menu >	.menuBtn{
		margin-right: 20px;
	}

	.footer{
		height: 270px;
		background: url("../img/Footer.jpg") no-repeat center;
		background-size: cover;
		text-align: center;
	}

	.footer > .footerLogo{
		display: block;
		margin:30px auto;
		height: 100px;
	}

	.footer > .year{
		display: block;
		margin: 0 auto;
		margin-top: 70px;
		height: 15px;
	}
}















