.container{
	overflow: auto;
}

.container > .left{
	width: 40%;
	height: auto;
	float: left;
}

.container > .left > img{
	width: 100%;
	display: block;
}

.container > .left > p{
	margin:0 8%;
	line-height: 35px;
	font-size: 18px;
	color:#000;
	font-weight: 200;
}

.container > .right{
	width: 60%;
	height: auto;
	float: left;
}

.container > .right > img{
	width: 100%;
	display: block;
}

.container > .right > p{
	margin:0 10%;
	line-height: 35px;
	font-size: 18px;
	color:#000;
	font-weight: 200;
}

.container > .right > p:first-child{
	margin-top: 8%
}

.container > .right > p:last-child{
	margin-bottom: 8%
}

.container > .left > p:first-child{
	margin-top: 8%;
	font-size:22px;
	line-height: 100px;
}

.container > .left > p:last-child{
	margin-bottom: 8%
}

.second{
	display: none;
}

@media (max-width: 1400px)
{
	.container > .right > p:last-child{
		margin-bottom: 3%
	}
}

@media (max-width: 1300px)
{
	.container > .left > p{
		line-height: 28px;
		font-size: 17px;
	}

	.container > .left > p:last-child{
		margin-bottom: 3%
	}


	.container > .right > p{
		margin: 0 5%;
		line-height: 28px;
		font-size: 17px;
	}

	.container > .right > p:first-child{
		margin-top: 1%
	}

	.container > .left > p:first-child{
		margin-top: 3%;
		font-size:20px;
		line-height: 80px;
	}
}

@media (max-width: 1024px)
{
	.container > .left > p{
		line-height: 25px;
		font-size: 15px;
	}

	.container > .left > p:last-child{
		margin-bottom: 0%
	}


	.container > .right > p{
		line-height: 25px;
		font-size: 15px;
	}

	.container > .left > p:first-child{
		margin-top: 0%;
		font-size:20px;
		line-height: 70px;
	}

	.container > .right > p:first-child{
		margin-top: 3%
	}
}

@media (max-width: 900px)
{
	.container > .left > p{
		line-height: 22px;
		font-size: 14px;
	}

	.container > .left > p:last-child{
		margin-bottom: 0%
	}


	.container > .right > p{
		line-height: 22px;
		font-size: 14px;
	}

	.container > .left > p:first-child{
		margin-top: 0%;
		font-size:18px;
		line-height: 60px;
	}

	.container > .right > p:first-child{
		margin-top: 1%
	}
}

@media (max-width: 800px)
{

	.container > .left{
		width: 100%;
		height: auto;
		clear: both;
	}

	.container > .left > p{
		margin:0 20px;
		line-height: 25px;
		font-size: 14px;
	}

	.container > .right{
		width: 100%;
		height: auto;
		clear: both;
	}

	.container > .right > p{
		margin:0 20px;
		line-height: 20px;
		font-size: 14px;
	}

	.container > .right > p:first-child{
		margin-top: 10px;
	}

	.container > .right > p:last-child{
		margin-bottom: 10px;
	}

	.container > .left > p:first-child{
		margin-top:10px;
		font-size:18px;
		line-height: 50px;
	}

	.container > .left > p:last-child{
		margin-bottom: 10px;
	}

	.first{
		display: none;
	}

	.second{
		display: block;
	}
}

@media (max-width: 480px)
{
	.container > .left > p{
		margin:0 10px;
		line-height: 22px;
		font-size: 13px;
	}

	.container > .right > p{
		margin:0 10px;
		line-height: 20px;
		font-size: 13px;
	}


	.container > .left > p:first-child{
		margin-top:10px;
		font-size:17px;
		line-height: 45px;
	}

}

